/* Core Styles */

*, 
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    padding-top: 115px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

/* Header Styles */

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2001;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #222;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5) ;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 4px solid rgb(7, 29, 124);
}

.hamburger__menu {
    margin-left: auto;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #fff;
    cursor: pointer;
}

.hamburger__icon {
    position: relative;
    width: 30px;
    height: 4px;
    background-color: #000;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.hamburger__icon + .hamburger__icon {
    margin-top: 6px;
}

.open__menu .hamburger__icon:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(6px, 7px);
    transform: rotate(45deg) translate(6px, 7px);
}

.open__menu .hamburger__icon:nth-child(2) {
    width: 5px;
}

.open__menu .hamburger__icon:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(8px, -7px);
    transform: rotate(-45deg) translate(8px, -7px);
}

.nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    column-gap: 20px;
}

.nav-item {
    border-bottom: 2px solid transparent;
    transition: all .4s ease;
}

.nav-item:hover {
    border-bottom-color: orangered;
}

.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.header-bottom {
    padding-top: 10px;
}

.films-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.genres-select,
.sort-select, 
.regexp-input,
.search-btn {
    width: 18%;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.regexp-input {
    width: 40%;
}

.search-btn {
    width: 120px;
}

/* Hero Section Styles */

.hero .container {
    overflow: hidden;
}

.films {
    min-height: 545px;
    transition: all .0000000000000000000000000000000000001s ease;
    padding: 20px;
    background-color: #bbb;
}

.bookmark { 
    position: fixed;
    width: 250px;
    height: 545px;
    padding: 15px;
    transform-origin: left;
    transform: scaleX(0);
    background-color: black;
    transition: all .0000000000000000000000000000000000001s ease;
    overflow: auto;
}

.bookmark .more-btn {
    display: none;
}

.bookmark-title {
    margin-top: -10px;
    margin-bottom: 5px;
    font-size: 18px;
    color: #fff;
}

.bookmark .film-item {
    width: 240px;
    background-color: #fff;
    border-radius: 0;
}

.bookmark .film-item:last-child {
    margin-bottom: 40px;
}

.bookmark .film-img {
    width: 100%;
    height: 200px;
}


.hero-content--flex .bookmark {
    transform: scaleX(1);
}

.hero-content--flex .films {
    width: 850px;
    padding: 15px;
    transform: translateX(250px);
}

.hero-content--flex .films .film-item {
    width: calc((100% - 60px) / 4);
}

.bookmark-list,
.films-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.film-item {
    width: calc((100% - 80px) / 5);
    padding: 10px;
    background-color: rgb(35, 80, 80);
    border-radius: 5px;
    transition: all .4s ease;
}

.film-title {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 16px;
    color: orange;
}

.film-img {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    object-position: center top;
    object-fit: cover;
    vertical-align: middle;
}

.film-description,
.film-genres__name {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 12px;
    color: #fff;
}

.film-genres__name {
    margin-bottom: 0;
    font-size: 14px;
    color: salmon;
}

.film-genres__list {
    display: flex;
    margin: 0;
    padding-left: 0;
    list-style: none;
    font-size: 12px;
}

.film-genre__item {
    color: #aaa;
}

.film-genre__item + .film-genre__item::before {
    content: '/';
    display: inline-block;
    margin-left: 2px;
    color: rgb(185, 11, 25);
}

.film-date {
    font-size: 12px;
    color: tomato;
}

.more-btn,
.bookmark-btn {
    padding: 5px 15px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all .4s ease;
}

.bookmark-btn {
    margin-left: 15px;
}

.more-btn:hover,
.bookmark-btn:hover {
    background-color: #fff;
    color: #000;
}

/* Modal Styles */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2002;
    display: none;
    background-color: rgba(0, 0, 0, .9);
}

.modal-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 50px 100px;
    list-style: none;
    border: 3px solid #fff;
}

.modal-list {
    padding: 0;
}

.close-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}

.close-icon {
    position: absolute;
    top: 16px;
    right: 5px;
    display: block;
    width: 25px;
    height: 3px;
    transform: rotate(45deg);
    background-color: #fff;
}

.close-icon::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 3px;
    transform: rotate(-90deg);
    background-color: #fff;
}

.modal .film-item {
    width: 350px;
    padding: 20px;
    background-color: rgb(35, 80, 80);
}

.modal .bookmark-btn,
.modal .more-btn {
    display: none;
}

/* Responsive Styles */

@media only screen and (max-width: 1140px) {
    .container {
        max-width: 930px;
    }
    
    .films {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .hero-content--flex .films {
        width: calc((100% - 250px));
    }
    
    .films .film-item {
        width: calc((100% - 60px) / 4);
    }
    
    .hero-content--flex .films .film-item {
        width: calc((100% - 40px) / 3);
    }
}

@media only screen and (max-width: 930px) {
    .container {
        max-width: 820px;
    }

    .nav-list {
        position: absolute;
        top: 125px;
        left: 0;
        z-index: -1;
        justify-content: center;
        column-gap: 40px;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
        transform-origin: center top;
        transform: translateY(0) scaleY(0);
        background-color: rgba(0, 0, 0, .8);
        transition: all .4s ease;
        visibility: hidden;
        opacity: 0;
    }

    .nav-list--open {
        visibility: visible;
        opacity: 1;
        transform: translateY(0) scaleY(1);
    }

    .hamburger__menu {
        display: flex;
    }
    
    .hero-content--flex .bookmark {
        width: 220px;
    }
    
    .hero-content--flex .films {
        width: calc((100% - 220px));
        transform: translateX(220px);
    }
    
    .films .film-item {
        width: calc((100% - 40px) / 3);
    }
    
    .hero-content--flex .films .film-item {
        width: calc((100% - 20px) / 2);
    }
}

@media only screen and (max-width: 720px) {
    .container {
        max-width: 660px;
    }

    .nav-list {
        column-gap: 15px;
    }

    .nav-link {
        font-size: 14px;
    }
    
    .hero-content--flex .bookmark {
        width: 230;
    }
    
    .hero-content--flex .films {
        width: calc((100% - 230));
        transform: translateX(230);
    }
    
    .films {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .films .film-item {
        width: calc((100% - 20px) / 2);
    }
    
    .hero-content--flex .films .film-item {
        width: 100%;
        padding: 20px;
    }
    
    .films .film-img {
        height: 250px;
    }
    
    .hero-content--flex .films .film-img {
        height: 250px;
    }
}

@media only screen and (max-width: 510px) {
    .container {
        max-width: 510px;
        padding-left: 10px; 
        padding-right: 10px;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
    }
    
    .hero-content--flex .bookmark {
        width: 180px;
    }
    
    .hero-content--flex .films {
        width: calc(100% - 180px);
        transform: translateX(180px);
    }
    
    .films .film-item {
        width:  calc((100% - 20px) / 2);
    }
    
    .hero-content--flex .films .film-item {
        padding: 10px;
    }
    
    .films .film-img {
        height: 220px;
    }
    
    .hero-content--flex .films .film-img {
        height: 220px;
    }
    
    .bookmark-btn {
        padding: 5px 10px;
    }
}

@media only screen and (max-width: 430px) {
    .hero-content--flex .bookmark {
        width: calc(100% - 20px);
    }
    
    .hero-content--flex .bookmark .film-item {
        width: calc((100% - 20px) / 2);
    }
    
    .hero-content--flex .bookmark .film-title {
        font-size: 12px;
    }
    
    .hero-content--flex .films {
        display: none;
    }
    
    .films .film-item {
        width: 100%;
        padding: 20px;
    }
    
    .films .film-img {
        height: 320px;
    }
    
    .hero-content--flex .films .film-img {
        height: 220px;
    }
}

@media only screen and (max-width: 375px) {
    .films .film-img {
        height: 250px;
    }
}